@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

.main_header {
	background: #ADD8E6;
}
.main_header_center_text {
	text-decoration: none;
}
.main_header_right a {
	text-decoration: none;
}
body {
	margin: 0;
	height: 100vh;
	overflow: hidden; /* 스크롤바 제거 */
	background: linear-gradient(45deg, #ff9a9e, #fecfef, #f6d365, #ffb6b9, #fad0c4,
		#fbc2eb, #a1c4fd, #e6dee9);
	background-size: 400% 400%;
	animation: ani 10s ease infinite;
}


.character {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.all {
	display: flex;
}
.all > img {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-position: center;
}
.nm {
	padding-left: 8px;	
}
li {
	list-style: none;
}

html {
	font-size: 62.5%;
}

.swal-footer {
	text-align: center;
}
/* 채팅방 목록 */
main {

	display: none;
}


.chat_content > img{
	width: 100px;
	height: 100px;
}


.chat {
	width: 50vw;
	min-width: 300px;
	height: 80vh;
	position: absolute;
	left: 43%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	display: black;
}

.chat>div {
	height: 100%;
	display: flex;
}

.chat .chat_body {
	background: rgb(195, 204, 221);
	height: 100%;
	width: 70%;
	order: 1;
	position: relative;
}

.chat h2 {
	font-size: 2rem;
	padding: 10px;
	height: 50px;
	box-sizing: border-box;
	text-align: center;
	background: #eee;
}

.chat .chat_back {
	font-size: 2rem;
	position: absolute;
	top: 9px;
	left: 0;
	text-decoration: none;
	color: black;
}

.chat ul.chat_list {
	overflow-y: auto;
	height: calc(100% - 150px);
	box-sizing: border-box;
	padding: 5px 0;
}

.chat li {
	font-size: 1.5rem;
}

.chat li>div {
	padding: 8px;
	display: flex;
}

.chat li .notification {
	text-align: center;
}

.chat li .notification span {
	margin: 0 auto;
	border-radius: 15px;
	padding: 5px 10px;
	background: #ae9191;
	color: #fff;
}

.chat li>div .nickname {
	 padding-bottom: 2px;  
}

.chat li>div .message {
	display: flex;
}

.chat .chat_me {
	justify-content: end;
}

.chat .chat_other {
	justify-content: start;
}

.chat .chat_other .chat_in_time {
	order: 1;
}

.chat .chat_in_time {
	font-size: 1.3rem;
	margin: 0 5px;
	display: flex;
	align-items: flex-end;
}

.chat .chat_content {
	padding: 5px;
	border-radius: 3px;
	box-shadow: 0px 2px 3px 0px rgb(0 0 0/ 25%);
	/*display: inline-block;*/ 
	display: flex;
	flex-direction: column;
	max-width: 250px;
	max-height: 400px;
	overflow-y: auto;
	word-break: break-all;
}

.chat .chat_content img {
	size: auto;
}

.chat .chat_me .chat_content {
	background: yellow;
}

.chat .chat_other .chat_content {
	background: #fff;
}

.chat .chat_input {
	height: 100px;
	display: flex;
	background: #fff;
}

.chat_input .chat_input_area {
	width: 87%;
}

.chat_input .chat_input_area textarea {
	width: 100%;
	height: 100%;
	border: none;
	resize: none;
	padding: 8px;
	box-sizing: border-box;
}

.chat_input .chat_input_area textarea:focus {
	outline: none;
}

.chat_input .chat_button_area {
	width: 13%;
}

.chat_input .chat_button_area button {
	background: yellow;
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 5px;
	width: 90%;
	margin-top: 10px;
	cursor: pointer;
}

.chat .chat_users {
	border: 1px solid #ddd;
	width: 30%;
	height: 300px;
	background: #8194b8;
	margin-right: 3px;
}

/* 참가인원 */
.chat .chat_users h2 {
	font-size: 1.6rem;
}

.chat .chat_users .chat_nickname {
	font-size: 1.6rem;
	height: calc(100% - 50px);
	overflow: auto;
}

.chat .chat_users .chat_nickname li {
	padding: 5px;
}

#cancle {
	font-size: 12px;
}
#can {
	display: block;
	width: 100vw;
	height: 100vh;
}

/* 채팅방 안 */
@media ( max-width : 1024px) {
	html {
		font-size: 60%;
	}
	main {
		width: 99vw;
	}
	.chat {
		width: 99vw;
	}
}