@charset "UTF-8";
body {
  background-color: #f4f4f4;
}

.container {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}


.membership-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding-top: 90px;
}
.membership-card {
  display: flex;
  background-color: white;
  border-radius: 20px;
  margin: 20px;
  width: 550px;
  height: 300px;
}
.membership-img a img {
  border-radius: 15px;
  width: 250px;
  height: 250px; 
  margin: 20px;
}

.membership-name {
  font-weight: bolder;
  font-size: 20px;
}
.membership-info {
  width: 250px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  border-radius: 15px;
}
.host {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.membership-info h1 {
  font-weight: bolder;
}
.membership-info h2  {
  margin-left: 10px;
  width: 100%;
   
  
}

.user-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}


/* 08-21 14:53 채승훈 시작 클럽안 내용들*/
.locationTypeBox {
  font-size: 12px;
  width: 200px;
}
.type {
  display: flex;
  flex-wrap: wrap;
}
.typeList {
  background-color: white;
  width: fit-content; /*글자크기에 맞게 width값 주기*/
  border: 1px solid grey;
  padding: 2.5px 5px;
  border-radius: 15px;
  margin: 1px;
}
.typeText {
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* 그냥 박스 상자 */
/* 08-25 채승훈 추가 */
.body_img_box_body {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
}

.body_img {
  width: 100%;
  height: 100%;
}
.locationTypeBody {
  position: sticky;
  top: 50px;
}
.locationTypeBodyBox {
  background-color: rgb(255, 185, 100);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
/*중단 locationLa 이벤트 놈들*/
#locationLaNameForm input[type="checkbox"] {
   display:none;
 }
#locationLaNameForm{
	display:flex;
	justify-content: space-around;
	align-self: center;
	width: 100%;
	max-width: 1200px;
	font-size:20px;
	padding :10px;
	font-weight: bold;
	height: 50px;
}

.locationLaCss{
	padding: 8px 10px;
	align-self: center;
	cursor: pointer;
}
.locationLaCss:hover{
	background-color: rgb(255, 142, 4);
	border-radius : 20px;
}

.locLaNameLabel{
	padding: 8px 10px;
	align-self: center;
	cursor: pointer;	
}
.locLaNameLabel:hover{
	background-color: rgb(255, 142, 4);
	border-radius : 20px;
}

/*중단 locationLa 이벤트 놈들*/

/*중단 locationType 이벤트 놈들*/
#locationSNameForm input[type="checkbox"] {
   display:none;
 }
#locationSNameForm{
	font-weight: bold;
}
.locationTypeCss{
	padding:10px 5px;
}

/*중단 locationType 이벤트 놈들*/


#typeLaNameSelect input[type="checkbox"] {
   display:none;
 }
 
 #typeSNameForm input[type="checkbox"] {
   display:none;
 }



