/* ================================================ */
/*color:  #fca35b;*/

/*리셋*/
.resetBth{
    margin: 10px 10px 10px 0px;
    border-radius: 10px;
    display: inline-block;
    border: none;
    color: #ffffff;
    font-weight: bold;
    background: #3e89ff;
    font-family: "Noto Sans KR", sans-serif;
}
.resetBth:hover{
	background: #2a5599;
}

/*
	지역 선택했을때 옆에 오는 친구들
*/
.locationLaFriend {
  color: #0077b6;
  font-weight: bold;
}
.locationSFriend {
  color: #0077b6;
  font-weight: bold;
}
.typeLaFriend {
  color: #0077b6;
  font-weight: bold;
}
.typeSFriend {
  color: #0077b6;
  font-weight: bold;
}
/*
	지역 선택했을때 옆에 오는 친구들
*/
.locationTypeBody {
  margin: auto;
  display: flex;
  width: 100%;
  justify-content: center;
  position: sticky;
  top: 80px;
  background-color: #f9f7f3;
  margin-top: 49px;
  width: 1280px;
  border-bottom: 1.5px solid #c5c5c5;
  justify-content: space-between;
  z-index: 1;
}
.locationTypeBodyBox {
  display: flex;
}
.locationTypeBodyBox > form {
  background-color: #fca35b;
  padding: 10px 20px 10px 20px;
  margin: 10px 10px 10px 0px;
  border-radius: 10px;
}

#locationLaNameForm input[type="checkbox"] {
  display: none;
}
#locationLaNameForm {
  cursor: pointer;
  position: relative;
}
.locationLaBox {
  display: flex;
  font-weight: bold;
  color: white;
}
.locationLaStar {
  cursor: pointer;
  display: flex;
}
.locationLaDiv {
  display: none;
  background-color: white;
  width: 501px;
  position: absolute;
  top: 46px;
  left: 0px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #b1b1b1;
  z-index: 1000;
}
.locationLaCss {
  cursor: pointer;
  background-color: white;
  display: inline-block;
  margin: 3px 1px;
  width: 110px;
  height: 47px;
  text-align: center;
  line-height: 47px;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
  background: #f3f3f3;
  color: #818181;
}
.locLaNameLabel {
  background-color: white;
  display: inline-block;
  margin: 3px 1px;
  width: 110px;
  height: 47px;
  text-align: center;
  line-height: 47px;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
  background: #f3f3f3;
  color: #818181;
}


/*중단 locationLa 이벤트 놈들*/

/*
  position: sticky;
  top: 80px;

*/
/*중단 locationS 이벤트 놈들*/
#locationSNameForm input[type="checkbox"] {
  display: none;
}
#locationSNameForm {
  cursor: default;
  background-color: #bfab9c;
  position: relative;
}

.locationSStar {
  font-weight: bold;
  display: flex;
}
.locationSCss {
  background-color: white;
  display: inline-block;
  margin: 3px 1px;
  width: 110px;
  height: 47px;
  text-align: center;
  line-height: 47px;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
  background: #f3f3f3;
  color: #818181;
}
.locationSBox {
  display: flex;
  border: b;
}
.locationSDiv {
  display: none;
  background-color: white;
  width: 501px;
  position: absolute;
  top: 46px;
  left: 0px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #b1b1b1;
  z-index: 1000;
}
.locationTypeCss {
  margin: 3px 1px;
}
/*중단 locationS 이벤트 놈들*/

.classiFication {
  font-family: "Do Hyeon", sans-serif;
}

#typeStickyBox {
}

/*중단 TypeLa 이벤트 놈들*/
#typeLaNameSelect input[type="checkbox"] {
  display: none;
}
#typeLaNameSelect {
  cursor: pointer;
  position: relative;
}
.typeLaNameLabel {
  background-color: white;
  display: inline-block;
  margin: 3px 1px;
  width: 110px;
  height: 47px;
  text-align: center;
  line-height: 47px;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
  background: #f3f3f3;
  color: #818181;
}
.typeLaDiv {
  display: none;
  background-color: white;
  width: 501px;
  position: absolute;
  top: 46px;
  left: 0px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #b1b1b1;
  z-index: 1000;
}
.typeLaBox {
  display: flex;
  color: white;
  font-weight: bold;
}

.typeLaCss {
  background-color: white;
  display: inline-block;
  margin: 3px 1px;
  width: 110px;
  height: 47px;
  text-align: center;
  line-height: 47px;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
  background: #f3f3f3;
  color: #818181;
}
.typeLaStar {
  display: flex;
}

/*중단 TypeLa 이벤트 놈들*/

#typeSNameForm input[type="checkbox"] {
  display: none;
}
#typeSNameForm {
  cursor: default;
  background-color: #bfab9c;
  position: relative;
}
.typeSBox {
  display: flex;
  font-weight: bold;
}
.typeSDiv {
  display: none;
  background-color: white;
  width: 501px;
  position: absolute;
  top: 46px;
  left: 0px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #b1b1b1;
  z-index: 1000;
}
#typeSCss {
  background-color: white;
  display: inline-block;
  margin: 3px 1px;
  width: 110px;
  height: 47px;
  text-align: center;
  line-height: 47px;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
  background: #f3f3f3;
  color: #818181;
}
.typeSStar {
  display: flex;
}

.locationTypeSearch {
  display: flex;
  margin: 10px;
}
.locationTypeSearch input {
  border: 1px solid gray;
  border-radius: 7px;
  padding: 10px;
}
.locationTypeSearch button {
  display: none;
}
