.type-box{
	display:flex;	
}
.tpye-box1{
	background-color :orange;
	width:500px;
	height:500px;
}
.tpye-box-child {
    display:none;
    width: 55px;
    height: 55px;
    background-color: lightblue;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}