@charset "UTF-8";
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.header_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.header_right {
  display: flex;
  font-weight: bold;
}
.header_right_menu {
  font-size: 1.5rem;
  padding: 10px;
  font-weight: bold;
}
.LOGO {
  padding: 20px;
  font-size: 3rem;
  font-weight: bold;
}
.menu {
  align-items: center;
  justify-items: center;
  font-size: 1.5rem;
}
.container {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}
.login-box {
  background: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  text-align: center;
}
.login-box h1 {
  margin-bottom: 30px;
  color: #271E04;
  font-size: 2em;
}
.textbox {
  position: relative;
  margin-bottom: 30px;
}
.textbox i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #271E04;
}
.textbox input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 5px;
  color: #0A0A0A;
  font-size: 1em;
}
.textbox input::placeholder {
  color: #000000;
}
.btn {
  width: 100%;
  background: #FFCC33;
  border: none;
  padding: 15px;
  color: #000000;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
  margin-bottom: 20px;
}
.btn:hover {
  background: #FF9966;
}
.login-boxs {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(87, 114, 138);
}
.google_box {
  width: 100%;
  background-color: rgb(23, 78, 166);
}
.naver_box {
}
.facebook_box {
}
/*====== (keyframes) ===========================*/
@keyframes textSlide {
  from {
    left: -200px;
    opacity: 0;
  }
  to {
    left: 300px;
    opacity: 1;
  }
}
@keyframes textSlide__disappear {
  from {
    left: 300px;
    opacity: 1;
  }
  to {
    left: -100px;
    opacity: 0;
  }
}
/*====== (active) ===========================*/
@media screen and (max-width: 1000px) {
  .header_left {
    display: none;
  }
}


.membership-list {
	width: 1000px;
	display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  margin: auto;
  border-radius: 15px;
    
   
	
}
.membership-card{
	display: flex;
	width:49%;
	background-color: white;
	 border-radius: 15px;
	 margin: 5px;
}
img {
	
	border-radius: 15px;
	width: 200px;
	height: 200px;
	margin:20px;
}

body{
	background-color: beige;
}

.membership-name {
	font-weight: bolder;
	font-size: 20px;
	
}	

.membership-info {
	
	width: 200px;
	height: 200px;
	margin:20px;
	border-radius: 15px;
	
}

.membership-info h1{
	font-weight: bolder;
	font-size: 20px;
}
.membership-info h2{
	margin-top:30px;
	color: #999;
}

.user-img{
	border-radius: 50%;
	width: 50px;
	height: 50px;
}


