#box{
  		padding-top: 100px;
  		background-color: #e5e5e5;
  		height: 100%;
}
#container{
	padding: 30px 195px;
	
	
}
#colors {
	border: none;
	width: 30px;
	height: 30px;
	appearance: none;
	background-color:  #ffff;
	border-radius: 50%;
	
}
#colors::-webkit-color-swatch{
	border-radius: 50%;
	border: none;
}
#input-box{
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	
}
#title{
	padding: 10px;
	min-width: 500px;
	max-width: 1000px;
	width: 100%;
}

#input-left > h1, #input-left > label{
	font-size: 2rem;
	font-family: "Jua", sans-serif;
	margin-bottom: 10px;
	align-self: center;
	
}
#input-right{
	display: flex;
    justify-content: center;
    align-items: center;
}
#input-right > h2{
	font-size: 1.2rem;
	font-family: "Jua", sans-serif;
}
#input-right > input{
	margin: 5px;
}
.day {
  position: relative;
  border: none; 
  font-family: "Jua", sans-serif;
  padding: 10px 5px;
  background-color: #f88c1d;
  color: white;
  border-radius: 8px;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 20px;
}


.day::-webkit-calendar-picker-indicator {
  position: absolute; 
  width: 100%;
  height: 100%;
  background: transparent; 
  color: transparent; 
  cursor: pointer;
}

.day::before {
  content: attr(placeholder); 
  width: 100%;
  height: 100%;
}


.day:valid::before {
  display: none; 
}
#button-box{
	padding-top: 10px;
	display: flex;
	flex-direction: row-reverse;	
}
.button {
  background-color: #f88c1d;
  color: #fff;
  border: none;
  font-size : 1.2rem;
  padding: 8px 15px;
  text-transform: uppercase;
  
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: 10px;
  font-family: "Jua", sans-serif;
}
.button:hover {
  background-color: #e76f00;
}
#back-button{
	 background-color: #555;
	 color: white;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
#back-button:hover {
	background-color: #000;
}
