#main-container {
  display: flex;
  justify-content: center;
}

#container {
  width: 100%;
  max-width: 800px;
  background: #FFE8CF;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}

#container-top {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  border: 2px solid black;
  border-radius: 16px;
  align-items: center;
  position: relative;
  bottom: 60px;
  width: 70%;
  padding: 10px;
}

#hostImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 40px;
}

#hostName {
  position: relative;
  bottom: 40px;
}

#membershipTitle {
  position: relative;
  bottom: 30px;
}

#membershipTitle > h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

#info-container {
  width: 100%;
  padding: 20px;
}

#mainImg {
  width: 70%;
  height: auto;
}

#info-container {
  line-height: 2;
}

#info-container > p > img {
  max-width: 90%;
}

#hostInfo {
  display: flex;
  flex-direction: row;
}

#hostInfo-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#middle-container-top {
  margin-bottom: 20px;
}

#middle-container {
  width: 100%;
  padding: 20px;
}

#name-and-info {
  margin-left: 20px;
}

#hostInfo-name {
  margin-bottom: 10px;
}

#together > p {
  margin-top: 20px;
}

#imageContainer {
  margin-top: 20px;
}

.allmemberImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.memberTable {
  border: 1px solid;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.memberTable ui {
  display: flex;
  flex-direction: column;
}

.member-grade {
  text-align: center;
  font-weight: bold;
  text-wrap: nowrap;
  padding-bottom: 5px;
}

.member-grade span {
  color: rgb(252, 177, 3);
  font-size: 20px;
}

.member-img-icon-nickname-manner {
  display: flex;
  justify-content: space-evenly;
}

.member-img-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-top: 5px;
}

.nickname-manner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  font-weight: bolder;
}

.manner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.manner p {
  margin-right: 10px;
}

.nickname {
  text-align: center;
}

#accordionExample {
  position: fixed;
  left: 0px;
  z-index: 99;
  margin-top: 80px;
}

.accordion-button collapsed {
  background-color: #14213d !important;
  color: white !important;
  font-weight: bold !important;
}

.accordion-header {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.accordion-collapse {
  overflow: auto;
}

.accordion-collapse::-webkit-scrollbar {
  display: none;
}

.accordion-collapse.collapsing {
  max-height: 700px !important;
}

.accordion-body {
  max-width: 310px;
  max-height: 700px;
}

.accordion-button:not(.collapsed) {
  background: #fca311; /* 펼쳐졌을 때 배경색 */
  color: #ffffff; /* 텍스트 색상 */
}

.accordion-button.collapsed {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #14213d; /* 닫혔을 때 배경색 */
  color: #ffffff; /* 텍스트 색상 */
  padding-right: 5px;
}


.mainMenu {
  font-weight: bold;
  font-size: 32px;
  cursor: pointer;
}
#menu li {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
 
  
}

#menu ul li{
	    align-items: center;
    display: flex;
    border-top: 2px dashed;
    height: 50px;
	
  
}


 .ifNew {
            font-size: 1rem;
            font-weight: bold;
            color: #000;
            animation: flashAnimation 1s infinite;
           display: inline;
 }

 @keyframes flashAnimation {
            0% {
                color: #000;
            }
            50% {
                color: #f00; /* Change to red or any other color */
            }
            100% {
                color: #000;
            }
        }

#management{
	
	margin-right: 30px;
}

#deleteButton{
	border: none;
	background: white;
	padding:0px;
	
}

#calendar-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom:80px;
}

#calendar-info p {
  font-family: "Do Hyeon", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 10px;
}

#calendar {
  background: white;
  width: 500px;
  height: 600px;
}
.alink-container{
	    width: 100%;
    margin-bottom: 51px;
}

.main-link{
	
padding: 20px;
    margin: 20px;
    background: #FCA35B;
    
    border-radius: 6px;
    color: white;
    font-weight: bold;
}
	
.main-link:hover{
	
background: #E76F00;
}


#deleteMembership {
  font-family: "Do Hyeon", sans-serif;
  width: 600px;
  height: 250px;
  font-size: 20px;

  background: gray;

  position: fixed;
  /*   position: absolute;*/
  cursor: pointer;
  top: 102px;
  left: 658px;
  z-index: 99;

  background: white;
  border: 0.5px solid black;
  box-shadow: 5px 5px 5px #000;
}

#container-title {
  width: 100%;
  text-align: center;
  height: 40px;

  background: #add8e6;
  color: #fca35b;
  font-family: "Do Hyeon", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container-main {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background: white;
}

#container-main > * {
  padding: 10px;
}
#deleteContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 40px;
  font-size: 32px;
}
#deleteCancle {
  background: red;
  height: 40px;
  color: white;
}
#cancle {
  color: white;
  background: red;
  border: none;
  height: 40px;
  border: 0.5px solid black;
  border-top: none;
  border-right: none;
}

#deleteBtn {
  border: 1px solid black;
  background: black;
  color: white;
  width: 115px;
  height: 46px;
  font-size: 20px;
}
#deleteBtn:hover {
  border: 1px solid red;
  background: red;
  color: black;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#title {
  animation: blink 1s infinite; /* 1초 간격으로 무한 반복 */
}
.fc-day-sun .fc-daygrid-day-number{
	color:red;
}
.fc-day-sat .fc-daygrid-day-number{
	color:blue;
}
/*캘린더*/
.fc-toolbar-title {
	padding: 10px;
}
.fc-toolbar-chunk{
	padding: 10px;
}
.fc .fc-daygrid-day-top{
	flex-direction: inherit;
}

.fc .fc-toolbar-title{
	font-weight: bold;
}

.fc-day-sun > div > a{
	color: red;
}
.fc-day-sat > div > a {
	color : #7e7eff;	
}


.fc-scrollgrid-sync-table tbody tr td:nth-child(1) a {
	color: red;
}
.fc-scrollgrid-sync-table tbody tr td:nth-child(7) a {
	color:#7e7eff;;
}
/*캘린더*/
#calendar-box {
	align-items: center;
    justify-content: center;
    display: flex;
	width: 90%;
	max-width: 800px;
	padding: 40px 20px 80px 20px;
	border: 1px solid #ddd;
	border-radius: 8px;
	background-color: white;
	margin-bottom: 50px;
	overflow: hiddlen;
	white-space: nowrap;
}

.membership-card h1 {
	font-weight: bolder;
	font-size: 1.2rem;
	padding-bottom: 15px;
	padding-right: 10px;
}