body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #e6e1e1;
}

main {
  width: 80%;
  max-width: 900px;
  margin: 20px auto;
  background: honeydew;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
/* 멤버쉽 이름 : main.membership.membershipName */
h1 {
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: bolder;
  font-family: sans-serif;
  color: black;
}
/* 멤버쉽 정보 : main.membership.membershipInfo */
h2 {
  font-size: 1.5rem;
  font-weight: 500;
}
/* 인원 현황 : membershipUserCount /
              main.membership.membershipMax */
p {
  font-size: 1.3rem;
  font-weight: bolder;
  margin-bottom: 15px;
  color: #004d40;
}
/* 호스트 : main.member.nickname */
h4 {
  display: flex;
  align-items: center;
  color: #00796b;
  margin-bottom: 20px;
}

#mainImg {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
  border: 3px solid #00796b;
  margin: auto;
}

#hostImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
}

.memberTable {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #00796b;
  background: #f1f8e9;
}

.memberTable ul {
  list-style: none;
  padding: 0;
}

.memberTable li {
  margin-bottom: 10px;
  color: #004d40;
}

.allmemberImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

form {
  margin-top: 10px;
}

input[type="submit"] {
  background-color: #00796b;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #004d40;
}

#toIndex {
  font-size: 1.5rem;
  font-weight: bolder;
}

#toIndex:hover {
  color: blue;
}
