#box{
  		padding-top: 100px;
  		background-color: #E5E5E5;
  		height: 100%;
}
#container{
	padding: 30px 310px;
	
	
}
#container > h1{
	font-size: 2rem;
	font-family: "Jua", sans-serif;
	margin-bottom: 10px;
	
}
#button-box{
	padding-top: 10px;
	display: flex;
	flex-direction: row-reverse;	
}
.button {
  background-color: #F88C1D;
  color: #fff;
  border: none;
  font-size : 1.2rem;
  padding: 8px 15px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: 10px;
  font-family: "Jua", sans-serif;
}
.button:hover {
  background-color: #E76F00;
}
#back-button{
	 background-color: #555;
	 color: white;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
#back-button:hover {
	background-color: #000;
}