/* 기본 스타일 설정 */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
}

/* 폰트 어썸 아이콘 % 외부 클래스*/
.fa-solid.fa-crown {
	color: #fca311;
	font-size: 1.2rem;
}

.fa-solid.fa-users {
	font-size: 1.2rem;
}

.fa-solid.fa-user-plus {
	font-size: 1.2rem;
}

.fa-solid.fa-temperature-quarter {
	font-size: 1.8rem;
	color: #004e98;
}

.fa-solid.fa-temperature-half {
	font-size: 1.8rem;
	color: #ffd100;
}

.fa-solid.fa-temperature-three-quarters {
	font-size: 1.8rem;
	color: #a4161a;
}

.fc .fc-toolbar-title {
	font-size: 1.5rem;
	margin: 0px;
}

input[type=text] {
	width: 100%;
	height: 30px;
	font-size: 1rem;
	border: 0;
	border-radius: 10px;
	background-color: rgb(233, 233, 233);
}

.form-control {
	display: none;
}

.profile_file {
	position: relative;
	overflow: hidden;
	display: inline-block;
}

.profile_file_button {
	border: 1px solid #ccc;
	background-color: #fca311;
	padding: 10px 12px;
	cursor: pointer;
	border-radius: 4px;
	color: white;
	width: 180px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile_file_button:hover {
	background-color: #e76f00;
}

.file_name {
	margin-top: 10px;
	display: block;
}

.box {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-top: 120px;
}

.club-button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 90%;
}

/* 정보 컨테이너 */
.container {
	width: 100%;
	max-width: 800px;
	margin: auto;
	padding: 15px;
	border-radius: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	background-color: #FFE8CF;
	margin-bottom: 20px;
}

.profile {
	font-size: 1.5rem;
	font-weight: bolder;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile_file {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.profile_img {
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile_img img {
	width: 200px;
	height: 200px;
	border-radius: 25%;
	margin-bottom: 10px;
	border: 3px #14213D solid;
}

.profile_update>* {
	margin-bottom: 20px;
}

.profile_manner {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-weight: bolder;
	height: 70px;
}

.profile_manner_info {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.profile_manner p {
	font-size: 1.5rem;
	font-weight: bolder;
	padding-right: 5px;
	padding-left: 5px;
}

.profile_manner h1 {
	font-size: 1.2rem;
	font-weight: bolder;
	padding-right: 20px;
	padding-left: 5px;
}

.profile_info {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 20px;
	padding-bottom: 20px;
}

.profile_info span {
	white-space: nowrap;
	width: 150px;
	font-size: 1.2rem;
	font-weight: bolder;
}

.profile_info input {
	padding-left: 20px;
	padding-right: 20px;
}

.profile_submit {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.list_grade_text {
	display: flex;
	flex-direction: row;
}

.host_text {
	display: flex;
	flex-direction: row;
}

#all-club, #manage-club, #wait-club {
	display: flex;
	flex-direction: column;
}

#manage-club, #wait-club {
	display: none;
}

.membership-each {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ddd;
	padding: 10px;
	margin-bottom: 10px;
}

.membership-card {
	width: 90%;
	max-width: 800px;
	display: none;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 8px;
	background-color: #f9f9f9;
	margin-bottom: 20px;
	overflow: hiddlen;
	white-space: nowrap;
}

.membership-card h1 {
	font-weight: bolder;
	font-size: 1.2rem;
	padding-bottom: 15px;
	padding-right: 10px;
}

.membership-img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 8px;
	border: 2px solid #ddd;
}

.membership-create {
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 8px;
	background-color: #f9f9f9;
	margin-bottom: 20px;
}

.membership-each {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.membership-String {
	display: flex;
	flex-direction: column;
	width: 400px;
}

.membership-String h4 {
	padding-bottom: 20px;
	font-size: 1.2rem;
	font-weight: bolder;
}

.membership-String p {
	padding-bottom: 20px;
	white-space: nowrap;
}

.membership-text {
	margin-bottom: 20px;
}

.membership-text p {
	width: 350px;
	height: 100%;
	white-space: normal;
	line-height: 30px;
}

/* 버튼 스타일 */
#submit {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fca311;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 6px;
	width: 50%;
	height: 50px;
	margin-top: 20px;
	font-size: 1rem;
	font-weight: bolder;
}

#updateCheck {
	background-color: #14213D;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 6px;
	width: 50%;
	height: 50px;
	margin-top: 20px;
	font-size: 1rem;
	font-weight: bolder;
	display: flex;
	align-items: center;
	justify-content: center;
}

#submit:hover, #updateCheck:hover {
	background-color: #e76f00;
}

#updateSubmit:hover {
	background-color: #e76f00;
}

#all-club-button, #manage-club-button, #wait-club-button,
	#all-meet-button {
	width: 25%;
	background-color: #fca311;
	color: white;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	margin: auto;
	overflow: hiddlen;
	white-space: nowrap;
	font-weight: bolder;
	overflow: hiddlen;
}

#all-club-button:hover, #manage-club-button:hover, #wait-club-button:hover,
	#update-club-button:hover, #make-club:hover, #update-club:hover,
	#all-meet-button:hover {
	background-color: #e76f00;
	font-weight: bolder;
	overflow: hiddlen;
	white-space: nowrap;
}

.btn {
	background-color: #14213D;
	color: white;
	border: none;
	border-radius: 6px;
	width: 150px;
	height: 40px;
	font-size: 1rem;
	font-weight: bolder;
	margin-right: 10px;
}

.btn:hover {
	background-color: #9a8c98;
	color: black;
}

:root {
	--btn-width: 30vw;
	--btn-min-width: 10px;
	--btn-height: 15vh;
	--btn-min-height: 5px;
	--menu-height: calc(var(--btn-height)* 4);
	--menu-min-height: calc(var(--btn-min-height)* 2);
	--border-rad: 5px;
	--font-size: 2vw;
}

#toggle_container {
	margin-top: 10vh;
	flex-flow: column;
}

#arrow {
	width: calc(var(--btn-height)* 0.4);
	height: calc(var(--btn-height)* 0.4);
	border-radius: 100%;
	position: relative;
	transition: 0.3s ease-in-out;
}

#toggle_menu {
	width: 100%;
}

.toggle_form {
	width: 0%;
	height: 0%;
}

#menu {
	flex-direction: row;
	overflow: hidden;
	transition: 0.5s ease-in-out;
	width: 100%;
}

#icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#icon h1 {
	font-size: 1.5rem;
	font-weight: bolder;
}

.host-Management-section {
	width: 90%;
	max-width: 800px;
	margin: auto;
	padding: 15px;
	border-radius: 12px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	background-color: #F9F9F9;
	margin-bottom: 30px;
}

.host_text {
	font-weight: bolder;
	font-size: 1.2rem;
	padding-bottom: 15px;
	padding-right: 10px;
}

.host_text h1 {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 70px;
	font-weight: bolder;
	font-size: 1.2rem;
	padding-bottom: 10px;
}

.host_a {
	display: flex;
	align-items: center;
	padding: 10px;
	margin-bottom: 10px;
}

.host-pwdCheck {
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: flex-start;
}

#pwdCheck {
	width: 200px;
	border: 0;
	border-radius: 10px;
	background-color: rgb(233, 233, 233);
	margin-left: 10px;
	margin-right: 10px;
}