/* 기본 스타일 설정 */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
}

/* 폰트 어썸 아이콘 % 외부 클래스*/
.fa-solid.fa-crown {
	color: #fca311;
	font-size: 1.2rem;
}

.fa-solid.fa-users {
	font-size: 1.2rem;
}

.fa-solid.fa-user-plus {
	font-size: 1.2rem;
}

.fa-solid.fa-temperature-quarter {
	font-size: 1.8rem;
	color: #004e98;
}

.fa-solid.fa-temperature-half {
	font-size: 1.8rem;
	color: #ffd100;
}

.fa-solid.fa-temperature-three-quarters {
	font-size: 1.8rem;
	color: #a4161a;
}

.fc.fc-toolbar-title {
	font-size: 1.5rem;
	margin: 0px;
}

.fa-solid.fa-screwdriver-wrench {
	font-size: 1.2rem;
	color: blue;
}

.fa-solid.fa-user-tie {
	font-size: 1.2rem;
}

.fa-solid.fa-lock {
	font-size: 2rem;
}

input[type=text] {
	width: 100%;
	height: 30px;
	font-size: 1rem;
	border: 2px solid black;
	border-radius: 10px;
	background-color: rgb(233, 233, 233);
}

input[type=password] {
	width: 100%;
	height: 30px;
	font-size: 1rem;
	border: 2px solid black;
	border-radius: 10px;
	background-color: rgb(233, 233, 233);
}

.box {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-top: 120px;
}

.container {
	width: 100%;
	max-width: 800px;
	margin: auto;
	padding: 15px;
	border-radius: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	background-color: #FFE8CF;
	margin-bottom: 20px;
}

.form-control {
	display: none;
}

.profile_file {
	position: relative;
	overflow: hidden;
	display: inline-block;
}

.profile_file_button {
	border: 1px solid #ccc;
	background-color: #fca311;
	padding: 10px 12px;
	cursor: pointer;
	border-radius: 4px;
	color: white;
	width: 180px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile_file_button:hover {
	background-color: #e76f00;
}

.file_name {
	margin-top: 10px;
	display: block;
}

.club-button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 90%;
}

.profile {
	font-size: 2rem;
	font-weight: bolder;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile_file {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.profile_img {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 25px;
	padding-top: 25px;
}

.profile_img img {
	width: 200px;
	height: 200px;
	border-radius: 25%;
	margin-bottom: 10px;
	border: 3px #14213D solid;
}

.profile_update>* {
	margin-bottom: 20px;
}

.profile_manner {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-weight: bolder;
	height: 70px;
}

.profile_manner_info {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.profile_manner p {
	font-size: 1.5rem;
	font-weight: bolder;
	padding-right: 5px;
	padding-left: 5px;
}

.profile_manner h1 {
	font-size: 1.2rem;
	font-weight: bolder;
	padding-right: 20px;
	padding-left: 5px;
}

.profile_info {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 20px;
	padding-bottom: 20px;
}

.profile_info span {
	white-space: nowrap;
	width: 150px;
	font-size: 1.2rem;
	font-weight: bolder;
}

.profile_info input {
	padding-left: 20px;
	padding-right: 20px;
}

.profile_submit {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.list_grade_text {
	display: flex;
	flex-direction: row;
}

.host_text {
	display: flex;
	flex-direction: row;
}

#all-club, #manage-club, #wait-club ,#all-meet {
	display: flex;
	flex-direction: column;
}

#manage-club, #wait-club, #all-club, #all-meet {
	display: none;
}

.membership-each {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ddd;
	padding: 20px;
	margin-bottom: 20px;
	justify-content: space-around;
	width: 100%;
	max-width: 800px;
}

.membership-card {
	width: 90%;
	max-width: 800px;
	display: none;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 8px;
	background-color: #f9f9f9;
	margin-bottom: 50px;
	overflow: hiddlen;
	white-space: nowrap;
}

.membership-card h1 {
	font-weight: bolder;
	font-size: 1.2rem;
	padding-bottom: 15px;
	padding-right: 10px;
}

.membership-img {
	width: 130px;
	height: 130px;
	object-fit: cover;
	border-radius: 8px;
	border: 2px solid #14213D;
}

.membership-create {
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 8px;
	background-color: #f9f9f9;
	margin-bottom: 20px;
}

.membership-String {
	display: flex;
	flex-direction: column;
	max-width: 770px;
	width: 400px;
	height: 150px;
	justify-content: space-around;
}

.membership-String h4 {
	font-size: 1.2rem;
	font-weight: bolder;
}

.membership-String p {
	white-space: nowrap;
}

.member-grade {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-weight: bolder;
}

.member-grade h4 {
	padding-right: 10px;
	color: blue;
	font-size: 1.3rem;
}

.member-grade h5 {
	padding-right: 10px;
	color: #E76F00;
	font-size: 1.3rem;
}

.membership-text {
	margin-bottom: 20px;
}

.membership-text p {
	width: 350px;
	height: 100%;
	white-space: normal;
	line-height: 30px;
}

.membership-count {
	display: flex;
	width: 80px;
	justify-content: space-between;
}

.Management-button-group {
	display: flex;
	flex-direction: row;
}

.Management-button {
	background-color: #14213D;
	color: white;
	border: none;
	border-radius: 6px;
	width: 150px;
	height: 40px;
	font-size: 1rem;
	font-weight: bolder;
	margin-right: 10px;
}

.Management-button:hover {
	background-color: #9a8c98;
}
/* 버튼 스타일 */
#submit {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fca311;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 6px;
	width: 50%;
	height: 50px;
	margin-top: 20px;
	font-size: 1rem;
	font-weight: bolder;
}

#updateCheck {
	background-color: #14213D;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 6px;
	width: 50%;
	height: 50px;
	margin-top: 20px;
	font-size: 1rem;
	font-weight: bolder;
	display: flex;
	align-items: center;
	justify-content: center;
}

#submit:hover, #updateCheck:hover {
	background-color: #e76f00;
}

#updateSubmit:hover {
	background-color: #e76f00;
}

#all-club-button, #manage-club-button, #wait-club-button,
	#all-meet-button {
	width: 25%;
	background-color: #fca311;
	color: white;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	margin: auto;
	overflow: hiddlen;
	white-space: nowrap;
	font-weight: bolder;
	overflow: hiddlen;
}

#all-club-button:hover, #manage-club-button:hover, #wait-club-button:hover,
	#update-club-button:hover, #make-club:hover, #update-club:hover,
	#all-meet-button:hover {
	background-color: #e76f00;
	font-weight: bolder;
	overflow: hiddlen;
	white-space: nowrap;
}

.btn {
	background-color: #14213D;
	color: white;
	border: none;
	border-radius: 6px;
	width: 120px;
	height: 40px;
	font-size: 1rem;
	font-weight: bolder;
	margin-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.btn:hover {
	background-color: #9a8c98;
	color: black;
}

:root {
	--btn-width: 30vw;
	--btn-min-width: 10px;
	--btn-height: 15vh;
	--btn-min-height: 5px;
	--menu-height: calc(var(--btn-height)* 4);
	--menu-min-height: calc(var(--btn-min-height)* 2);
	--border-rad: 5px;
	--font-size: 2vw;
}

#toggle_container {
	margin-top: 10vh;
	flex-flow: column;
}

#arrow {
	width: calc(var(--btn-height)* 0.4);
	height: calc(var(--btn-height)* 0.4);
	border-radius: 100%;
	position: relative;
	transition: 0.3s ease-in-out;
}

#toggle_menu {
	width: 100%;
}

.toggle_form {
	width: 0%;
	height: 0%;
}

#icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#icon h1 {
	display: flex;
	justify-content: center;
	font-size: 1.5rem;
	font-weight: bolder;
	padding-top: 50px;
	font-size: 1.5rem;
}
/* ========== host-Management-section =========*/
.host-Management-title {
	display: flex;
}

.host-Management-section {
	width: 90%;
	max-width: 800px;
	margin: auto;
	padding: 35px;
	border-radius: 12px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	background-color: #E5E5E5;
	margin-bottom: 30px;
}

.host-Management-section h1 {
	font-size: 1.2rem;
	font-weight: bolder;
	padding-bottom: 15px;
	padding-right: 10px;
}

.host-Management-section h2 {
	padding-bottom: 20px;
	font-size: 1.2rem;
	font-weight: bolder;
}

.host-Management-text>* {
	padding-bottom: 10px;
}

.host-Management-count {
	display: flex;
	width: 80px;
	justify-content: space-between;
}

.host-Management-count>* {
	padding-right: 10px;
}

.host_text {
	font-weight: bolder;
	font-size: 1.2rem;
	padding-bottom: 15px;
	padding-right: 10px;
}

.host_text h1 {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 70px;
	font-weight: bolder;
	font-size: 1.2rem;
	padding-bottom: 10px;
}

.host-management-input {
	display: flex;
	flex-direction: row;
	width: 100%;
}

#pwdCheck {
	width: 70%;
	height: 40px;
	border-radius: 10px;
	background-color: rgb(233, 233, 233);
	margin-right: 10px;
	margin-bottom: 20px;
	padding-left: 20px;
}

.create-menu {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	width: 70%;
}

.create-btn {
	width: 100%;
	background-color: #FFA500;
	color: white;
	padding: 15px 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-weight: bolder;
}

.create-btn:hover {
	background-color: #E76F00;
}

#deleteMembership {
  font-family: "Do Hyeon", sans-serif;
  width: 600px;
  height: 250px;
  font-size: 20px;

  background: gray;

  position: fixed;
  /*   position: absolute;*/
  cursor: pointer;
  top: 102px;
  left: 658px;
  z-index: 99;

  background: white;
  border: 0.5px solid black;
  box-shadow: 5px 5px 5px #000;
}

#container-title {
  width: 100%;
  text-align: center;
  height: 40px;

  background: #add8e6;
  color: #fca35b;
  font-family: "Do Hyeon", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container-main {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background: white;
}


#deleteContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 40px;
  font-size: 32px;
}
#deleteCancle {
  background: red;
  height: 40px;
  color: white;
}
#cancle {
  color: white;
  background: red;
  border: none;
  height: 40px;
  border: 0.5px solid black;
  border-top: none;
  border-right: none;
}

#deleteBtn {
  border: 1px solid black;
  background: black;
  color: white;
  width: 115px;
  height: 46px;
  font-size: 20px;
}
#deleteBtn:hover {
  border: 1px solid red;
  background: red;
  color: black;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#title {
  animation: blink 1s infinite; /* 1초 간격으로 무한 반복 */
}
