/* 기본 스타일 설정 */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
}
.profile_file{
	display: flex;
	align-items: center;
	justify-content: center;
}
input[type=text] {
	width: 100%;
	height: 30px;
	font-size: 1rem;
	border: 0;
	border-radius: 10px;
	background-color: rgb(233, 233, 233);
}

.box {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-top: 120px;
}

.club-button {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* 정보 컨테이너 */


.container {
	width: 100%;
    max-width: 800px;
	margin: auto;
	padding: 10px;
	border-radius: 12px;
	background-color: #fff;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	background: honeydew;
	margin-bottom: 20px;
}

.profile {
	font-size: 1.5rem;
	font-weight: bolder;
	padding-top: 20px;
	padding-bottom: 20px;	
	display: flex;
	justify-content: center;
	align-items: center;
}


.profile_img {
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile_img img {
	width: 200px;
	height: 200px;
	border-radius: 25%;
	margin-bottom: 10px;
}

.profile_update {
	align-items: center;
	justify-content: flex-start;
}

.profile_update>* {
	margin-bottom: 20px;
}

.profile_manner {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	font-weight: bolder;
}

.profile_manner p {
	font-size: 1.2rem;
	font-weight: bolder;
	padding-right: 10px;
}

.profile_manner h1 {
	font-size: 1.2rem;
	font-weight: bolder;
	padding-right: 10px;
}

.profile_info {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 20px;
}

.profile_info span {
	white-space: nowrap;
	padding-left: 20px;
	width: 150px;
	font-size: 1.2rem;
	font-weight: bolder;
}

.profile_info input {
	padding-left: 20px;
	padding-right: 20px;
}

.profile_submit {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#updateSubmit {
	background-color: #fca311;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 6px;
	width: 50%;
	height: 50px;
	margin-top: 20px;
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

#updateCheck {
	background-color: #fca311;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 6px;
	width: 50%;
	height: 50px;
	margin-top: 20px;
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;

}



#submit:hover {
	background-color: #e76f00;
}

#updateCheck:hover {
	background-color: #e76f00;
}
#updateSubmit:hover {
	background-color: #e76f00;
}

#all-club, #manage-club, #wait-club {
	display: flex;
	flex-direction: column;
}

#manage-club, #wait-club {
	display: none;
}

.membership-each {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ddd;
	padding: 10px;
	margin-bottom: 10px;
}

.membership-card {
	display: none;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 8px;
	background-color: #f9f9f9;
	margin-bottom: 20px;
	overflow: hiddlen;
	white-space: nowrap;
	width: 90%;
}

.membership-card h1 {
	font-weight: bolder;
	padding-bottom: 15px;
}

.membership-img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 8px;
	border: 2px solid #ddd;
}

.membership-create {
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 8px;
	background-color: #f9f9f9;
	margin-bottom: 20px;
}

.membership-each {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.membership-String {
	display: flex;
	flex-direction: column;
}

.membership-String h4 {
	padding-bottom: 20px;
	font-size: 1.2rem;
	font-weight: 500;
}

.membership-String p {
	padding-bottom: 20px;
}

.membership-text {
	width: 350px;
	height: 100%;
}

/* 버튼 스타일 */
#make-club, #all-club-button, #manage-club-button, #wait-club-button,
	#update-club {
	width: 100%;
	background-color: #fca311;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 10px;
	margin: 20px;
	overflow: hiddlen;
	white-space: nowrap;
}

#all-club-button:hover, #manage-club-button:hover, #wait-club-button:hover,
	#update-club-button:hover, #make-club:hover, #update-club:hover {
	background-color: #e76f00;
	font-weight: bolder;
	overflow: hiddlen;
	white-space: nowrap;
}

:root {
	--btn-width: 30vw;
	--btn-min-width: 10px;
	--btn-height: 15vh;
	--btn-min-height: 5px;
	--menu-height: calc(var(--btn-height)* 4);
	--menu-min-height: calc(var(--btn-min-height)* 2);
	--border-rad: 5px;
	--font-size: 2vw;
}

#toggle_container {
	margin-top: 10vh;
	flex-flow: column;
}

#label {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.1rem;
	font-weight: bolder;
	margin-bottom: 10px;
	overflow: hiddlen;
	white-space: nowrap;
	width: 30%;
	height: 50px;
}

#arrow {
	width: calc(var(--btn-height)* 0.4);
	height: calc(var(--btn-height)* 0.4);
	border-radius: 100%;
	position: relative;
	transition: 0.3s ease-in-out;
}

#menu {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
	overflow: hidden;
	transition: 0.5s ease-in-out;
	width: 50%;
}

#toggle:checked ~ #menu {
	min-height: var(--menu-min-height);
	opacity: 1;
}

#toggle:checked ~ #label>#arrow {
	transform: rotate(180deg);
}

.menu-name {
	width: var(--btn-width);
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-size: var(--font-size);
	font-weight: 900;
	line-height: 20px;
}