@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
}


.resign {
	padding-top: 20px;
	text-decoration: none;
	display: flex;
	justify-content: space-between;
	opacity: 0.3;
}

.header_menu:hover {
	background-color: #575757;
}
.box{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}
.container {
	width: 100%;
	max-width: 800px;
	padding: 20px;
	margin-top: 120px;
	background: honeydew;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
	text-align: center;
	font-size: 1.5rem;
	font-weight: bolder;
	margin-bottom: 40px;
}

h2 {
	padding-bottom: 10px;
}

.form-group {
	margin-bottom: 15px;
}

.form-group h2 {
	font-size: 1rem;
	font-weight: bolder;
}

.form-group p {
	color: blue;
}

input, select {
	width: 100%;
	padding: 8px;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-sizing: border-box;
}

button {
	background-color: #fca311;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
}

button:hover {
	background-color: #e76f00;
}

#checkbox {
	width: 20px;
}