body {
  background-color: #f4f4f4;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  background-color: honeydew;
  height: 100vh;
  max-width: 800px;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding: 50px;
}

#header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

#section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

#section img {
  width: 200px;
  height: 200px;
  border-radius: 200px;
}

button {
  margin-left: 20px;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.text {
  width: 80%;
  justify-content: space-around;
  padding: 20px;
}
.text div h1 {
  font-size: 1rem;
  font-weight: bolder;
}
#group {
  margin-top: 20px;
  margin-bottom: 20px;
}
#group p {
  margin-right: 20px;
}
.text div {
  display: flex;
  text-wrap: nowrap;
  margin: 10px;
}
.text div span {
  font-size: 1rem;
  font-weight: bolder;
}

.text h3 {
  width: 400px;
  height: 100px;
  text-wrap: wrap;
  overflow-wrap: break-word;
}

#section2 {
  width: 100%;
  height: 200px;
  padding-top: 100px;
}

#section2 h1 {
  font-size: 1.5rem;
  font-weight: bolder;
  padding-bottom: 20px;
}

#section2 div img {
  width: 100px;
  height: 100px;
  border-radius: 200px;
}

.club-img {
  padding: 10px;
}
